.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.art {
	display: flex;
	column-gap: 2em;
}

.artItem {
	width: 30em;
	height: 30em;
	fill: var(--color-text-dark);
}

.artTagline {
	font-size: 4em;
	color: var(--color-text-light);
}
