.leftSide {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;

	/* background-color: brown; */
}

.rightSide {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.verticalDivider {
	height: 80%;
	margin-top: 5%;
	border-right: 1px solid var(--color-border);
}

.art {
	display: flex;
	column-gap: 2em;
}

.artItem {
	width: 15em;
	height: 15em;
	fill: var(--color-text-dark);
}

.artTagline {
	margin-top: 2em;
	padding: 2em;
	font-size: 2em;
	text-align: center;
	color: var(--color-text-light);
}

.form {
	display: flex;
	flex-direction: column;
}

.control {
	margin-bottom: 2em;
}

.formTagline {
	margin-bottom: 2em;
	font-size: 2em;
	color: var(--color-text-light);
}

.formLabel {
	display: block;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	color: var(--color-text-light);
}

select {
	width: 100%;
	height: 100%;
	appearance: none;
	background-color: transparent;
	border: none;
	padding-left: 1em;
	margin: 0;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	color: var(--color-text-light);
	cursor: inherit;
	line-height: inherit;
}
.select {
	display: grid;
	width: 15em;
	height: 2em;
	border: 2px solid var(--color-border);
	font-size: 1.5em;
	cursor: pointer;
	align-items: center;
	grid-template-areas: 'select';
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.select::after {
	content: '';
	width: 0.8em;
	height: 0.5em;
	margin-left: 90%;
	background-color: var(--color-border);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.select:hover {
	cursor: pointer;
	border: 2px solid var(--color-dbx-blue-dark);
}

select,
.select:after {
	grid-area: select;
}

.input {
	position: relative;
	width: 15em;
	height: 2em;
	padding-left: 1em;
	border: 2px solid var(--color-border);

	background-color: transparent;
	font-size: 1.5em;
	color: var(--color-text-light);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.input:hover {
	border: 2px solid var(--color-dbx-blue-dark);
}

.buttonContainer {
	width: 15em;
	height: 2em;
}
